.btn button {
  color: white;
  padding: 5px 25px;
  background-color: #787878;
  border-radius: 10px;
  margin-left: 550px;
  margin-top: 20px;
}
.card {
 margin-top: 50px; 
  margin-left: 550px;
  width: 100px;
  border: 1px solid;
  padding: 10px;
  box-shadow: 5px 10px #888888;
}
.card-text {
  font-size: 600;
  font-weight: bold;
}
.card-img {
  height: 450px;
}
.card-title {
  font-size: xx-large;
  color: #712cf9;
  font-weight: bold;
}
.persone {
  background-image: url("https://cdnuploads.aa.com.tr/uploads/Contents/2023/10/17/thumbs_b_c_c13fc97c2acba1ead85eab4ee02d5b7b.jpg?v=195315");
  background-repeat: no-repeat;
  background-size: cover;
}
